/* Add all your styles here */

        /* Custom styles for the table */

        .table-responsive {
            margin: 20px 0;
        }
        .table th {
            background-color: #1d827f;
            color: white;
        }
        .table tbody tr:nth-child(even) {
            background-color: #f8f9fa;
        }
        .table tbody tr:hover {
            background-color: #e9ecef;
        }
        .avatar {
            width: 30px; /* Set image width */
            height: 30px; /* Set image height */ 
            margin-right: 8px; /* Space between image and text */
        }

        /* Additional responsiveness for smaller screens */
        @media (max-width: 576px) {
            .table th, .table td {
                font-size: 0.8rem; /* Adjust font size for mobile */
                white-space: nowrap;

            }
            h1{
              font-size: 1.8rem; 

            }
            .avatar {
            width: 20px; /* Set image width */
            height: 20px; /* Set image height */ 
            margin-right: 2px; /* Space between image and text */
            }
            small{
              font-size: 0.8rem;
              font-family: monaco, mono-space;
            }

        }